$white: #fff;
$frost-ice: #F3F3F3;
$dark-nav-color: #2C3840;
$bordeur: #F44336;
$purple: #5F4A8B;
$purple-dark: #615465;
$black: #000!important;
$light-gray: #7D7D7D;
$graphite: #333333;
$snow-ice: #ABABAB;
$estetica: #9ECDBB;
$noivas: #939A68;
$formandas: #615465;
$debutantes: #ED0677;
$acessorias: #808473;
$men: #1D0F52;
$megahair: #D28C5E;


// Classes Auxiliares
.branco {
  color: $white!important;
}

.black {
  color: $black;
}
