@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-Black.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-BlackItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marcellus';
    src: url('../fonts/Marcellus-Regular.woff2') format('woff2'),
        url('../fonts/Marcellus-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/PlayfairDisplaySC-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplaySC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quentin';
    src: url('../fonts/Quentin.woff2') format('woff2'),
        url('../fonts/Quentin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luxury Diamond';
    src: url('../fonts/Luxury-Diamond.woff2') format('woff2'),
        url('../fonts/Luxury-Diamond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luxury Gold';
    src: url('../fonts/Luxury-Gold.woff2') format('woff2'),
        url('../fonts/Luxury-Gold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luxury Text';
    src: url('../fonts/LuxuryText-Roman.woff2') format('woff2'),
        url('../fonts/LuxuryText-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luxury Platinum';
    src: url('../fonts/Luxury-Platinum.woff2') format('woff2'),
        url('../fonts/Luxury-Platinum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "arrow-font";
  src:url("../fonts/arrow-font.eot");
  src:url("../fonts/arrow-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/arrow-font.woff") format("woff"),
    url("../fonts/arrow-font.ttf") format("truetype"),
    url("../fonts/arrow-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "arrow-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-open-big:before {
  content: "\61";
}
