// Typekits
@import url("https://use.typekit.net/bnf5uus.css");
// Vars
$playfair-bc: 'Playfair Display SC';
$luxury-diamond: 'Luxury Diamond';
$luxury-text: 'Luxury Text';
$quentin: 'Quentin';
$marcellus: 'Marcellus';
// Mixins
@mixin font-pf-bc($size: false,
$colour: false,
$weight: false,
$lh: false,
$style: false) {
  font-family: $playfair-bc;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
}

@mixin font-luxury-diamond($size: false,
$colour: false,
$weight: false,
$lh: false,
$style: false) {
  font-family: $luxury-diamond;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
}

@mixin font-luxury-text($size: false,
$colour: false,
$weight: false,
$lh: false,
$style: false) {
  font-family: $luxury-text;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
}

// Teste de Fontes

@font-face {
  font-family: "Luxury Diamond";
  font-style: normal;
  src: url("dist/assets/fonts/Luxury-Diamond.woff");
}


// Titles
.t-info-title {
  font-family: "motiva-sans", sans-serif;
  font-size: rem-calc(22);
  font-weight: 100;
  
  &.int {
    margin-bottom: 1.5em;
  }
  &.medium {
    font-size: rem-calc(16);
  }
  &.m-reset {
    margin-bottom: 0;
  }
}

.title-dicas {
  font-family: "motiva-sans", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.t-info-unidade {
  font-family: $luxury-text;
  font-size: rem-calc(22);
  font-style: italic;
  line-height: 1.2;
  &.medium {
    font-size: rem-calc(16);
  }
}


.t-info-text {
  font-family: $luxury-text;
  font-size: rem-calc(16);
  line-height: 1.3;
  font-weight: 400;
  &.link {
    color: $white;
    border-bottom: 1px solid $white;
    display: table;
  }
}

.t-title-diamond {
  text-transform: uppercase;
  font-family: $luxury-diamond;
  font-size: rem-calc(65);
  color: $purple;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 1em;
  &.margin-b {
    margin-bottom: .5em;
  }
  &.medium {
    font-size: rem-calc(55);
  }
  &.nail {
    max-width: 684px;
    margin-top: 1em;
    margin-left: .5em;
    margin-bottom: 0;
  }
  &.store {
    text-transform: uppercase;
  }
  &.title-insp {
    max-width: 684px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

// Texts
.t-dicas {
  font-family: $quentin;
  font-size: rem-calc(38);
  line-height: 1.1;
  color: $graphite;
}

// Serviços
.item-block-text {
  p {
    font-size: 16px;
  }
}
