.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
  display: inline-block;
  font-family: $luxury-text;
  font-size: 20px;
  font-weight: 600;
  min-width: 222px;
  padding: 20px 10px;
  transition: ease-in-out .2s;
  &--purple {
    background-color: $purple;
    &:hover,
    &:focus {
      background-color: darken($purple, 20%);
    }
  }
  &--blog {
    background-color: $purple;
    margin-top: .8em;
    color: white !important;
    text-decoration: none !important;
    &:hover,
    &:focus {
      background-color: darken($purple, 20%);
    }
    .arrow-icon{
      position: relative;
      right: -55px;
    }
  }
  &--orange {
    background-color: $megahair;
    &:hover,
    &:focus {
      background-color: darken($megahair, 20%);
    }
  }
  &--debutantes {
    background-color: $debutantes;
    &:hover,
    &:focus {
      background-color: darken($debutantes, 20%);
    }
  }
  &--formandas {
    background-color: $formandas;
    &:hover,
    &:focus {
      background-color: darken($formandas, 20%);
    }
  }
  &--noivas {
    background-color: $noivas;
    &:hover,
    &:focus {
      background-color: darken($noivas, 20%);
    }
  }
  .arrow-icon {
    display: inline-block;
    height: 17px;
    margin-left: 10px;
    vertical-align: middle;
    width: 20px;
    svg {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      path,
      .icon-arrow {
        fill: white !important;
      }
    }
  }
}

/* Botões Brancos */

.button-white {
  display: inline-block;
  font-family: $luxury-text;
  font-size: 20px;
  font-weight: 600;
  min-width: 222px;
  padding: 20px 20px;
  transition: ease-in-out .2s;
  background-color: white;
  margin-bottom: .5rem;

    &.debutantes {
      color: $debutantes;
      background-color: $white;
          &:hover,
          &:focus {
          color: white;
          background: darken($debutantes, 20%);
      }
      .arrow-right-icon path, .arrow-right-icon rect {
        fill: $debutantes !important;
      }
    }

    &.formandas {
      color: $formandas;
      background-color: $white;
          &:hover,
          &:focus {
          color: white;
          background: darken($formandas, 20%);
      }
      .arrow-right-icon path, .arrow-right-icon rect {
        fill: $formandas !important;
      }
    }

    &.noivas {
      color: $noivas;
      background-color: $white;
      margin-left: 1rem;
          &:hover,
          &:focus {
          color: white;
          background: darken($noivas, 20%);
      }
      .arrow-right-icon path, .arrow-right-icon rect {
        fill: $noivas !important;
      }
      &.wrap-left{
        margin-left: 0 !important;
      }
    }

    &.megahair {
      color: $megahair;
      background-color: $white;
      margin-left: 1rem;
          &:hover,
          &:focus {
          color: white;
          background: darken($megahair, 20%);
      }
      .arrow-right-icon path, .arrow-right-icon rect {
        fill: $megahair !important;
      }
      &.wrap-left{
        margin-left: 0 !important;
      }
    }

  .arrow-icon-white {
    display: inline-block;
    height: 17px;
    margin-left: 10px;
    vertical-align: middle;
    width: 20px;
    position: relative;
    top: -5px;
    svg {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

// Area
  .btn-area {
    margin-top: 1em;
}