// Parallax
.parallax-window {
  height: 744px;
  background: transparent;
  @media #{$small-only}{
  	height: 400px;
  }
}

.parallax-b {
  height: 695px;
	background: transparent;
}

.parallax-c {
  height: 825px;
	background: transparent;
}

.parallax-d {
  height: 582px;
	background: transparent;
}
