/* Antes e Depois */

#antes-depois {

	.title-antes-depois {
		color: $megahair;
		max-width: 600px;

		&.title-white {
			color: white;
		}
	}
	.line{
		background: url('../images/line-megahair.svg') !important;
	}

	.box-info-int {
		h2 {
			font-size: 22px;
		    font-family: $luxury-text;
		    font-style: italic;
		}
	}

    .block-dicas-bg.full-height {
    	height: 80%;
    	position: relative;
	}
	.block-dicas-bg {
		background-color: $megahair;
	}
	.box-inspire {
		p {
		  color: white;
		  font-size: 22px;
		  font-family: $luxury-text;
		}
	}
}

.depoimentos-item {
	legend {
		float: right;
	}
}

.item-block:last-child {
	@media #{$medium-only}{
		margin-bottom: 5em;
	}
}
