.page-template-bistrot {
  .parallax-c {
    height: 630px !important;
  }

  #bistrot {
    .wrap-block-side {
      padding-top: 14em !important;
    }
    .t-title-diamond {
      margin-bottom: 30px;
    }
  }

  #modulo-blog {
    .blog-pos {
      left: 10.2em;
    }  
    .blog-carousel .owl-stage-outer {
      top: -90px
    }
  }
  
  // #bistrot .grid-padding-x {
  //   padding: 37px 0 60px 66px;
  // }
  // #bistrot-02 {
  //   .wrap-info-fullhero {
  //     margin-top: 0 !important;
  //   }
  //   .bistrot-text {
  //     .grid-padding-x {
  //       padding: 37px 0 226px 66px;
  //       &:before {
  //         content: '';
  //         background: #f3f3f3;
  //         height: 100px;
  //         width: 100%;
  //         position: absolute;
  //         right: 0;
  //         top: 80px;
  //         height: 80%;
  //         z-index: 0;
  //       }
  //       .button--purple {
  //         position: relative;
  //         z-index: 1;
  //       }
  //     }
  //     .box-infosub-int {
  //       margin-top: 90px;
  //     }
  //     .t-info-title {
  //       color: #333333;
  //       display: block;
  //       font-style: italic;
  //       margin-bottom: 46px;
  //       position: relative;
  //       z-index: 1;
  //     }
  //     &-bg {
  //       height: 623px;
  //       max-width: 68%;
  //     }
  //     &-title {
  //       margin-bottom: 0;
  //       transform: translate(77px, 110px);
  //       position: relative;
  //       z-index: 1;
  //     }
  //   }
  //   .small-9 {
  //     margin-top: -20em;
  //     .t-info-text {
  //       position: relative;
  //       z-index: 1;
  //     }
  //     .grid-padding-x {
  //       padding: 37px 0 226px 66px;
  //       &:before {
  //         content: '';
  //         background: #f3f3f3;
  //         height: 100px;
  //         width: 100%;
  //         position: absolute;
  //         right: 0;
  //         top: 0;
  //         height: 80%;
  //         z-index: 0;
  //       }
  //     }
  //   }
  // }
  // .bistrot-bg {
  //   height: 623px;
  //   max-width: 68%;
  // }
  .locais-blocks {
    .grid-margin-x {
      justify-content: center;
      .local-block {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
  .block-bistrot-bgwhite {
    background: $white;
    padding: 2.5em 2em 2.5em 3.5em;
  }
  #bistrot-1 {
    .wrap-info-fullhero {
      margin-top: 0;
    }
    .box-infosub-int {
      padding-left: 0;
    }
    .foto-bg {
      height: 623px;
      max-width: 68%;
    }
    .block-bistrot-bgwhite {
      margin-top: -20em;
      position: absolute;
      left: auto;
      width: 100%;
      height: 500px;
      padding-right: 22em;
      background: #f3f3f3;
    }
  }
  .galeria {
    margin-top: -6em;
    background: transparent;
  }
  #cardapio {
    &.container-spacing {
      padding-top: 0;
    }
    .t-title-diamond {
      margin: 3em 0 30px 30px;
    }
    .block-dicas-bgwhite {
      position: relative;
      z-index: 1;
    }
  }
  .blog-int {
    margin-top: 17em;
    .blog-carousel {
      margin-top: 120px;
    }
  }
  .box-info {
    margin-top: -15em;
    height: 360px;
  }
}
