.blogposts {
  @include breakpoint(medium) {
    margin-top: 20em;
  }
  margin-bottom: 3em;

  @media #{$small-only} {
    margin-top: 10em;
  }

  &-item {
    margin-bottom: 3em;

    &.single {
      margin-top: 4em;
    }

    .thumbnail {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 382px;
      display: block;
      transition: all .2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      margin-bottom: 1.5em;
    }

    .title {
      @extend .t-info-title;
      text-transform: uppercase;

      a {
        color: $graphite!important;

        &:hover {
          text-decoration: underline;
        }
      }

      margin: .5em 0;

    }

    .desc {
      a {
        color: $graphite!important;

          @media #{$small-only} {
              font-size: 17px;
          }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .data {
      @extend .t-info-text;
      text-transform: uppercase;
      color: $graphite;
      font-size: rem-calc(15);
      font-weight: 500;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .group {
      border-top: 2px solid $purple;
      padding-top: 1em;

      a {
        @extend .t-info-text;
        color: $purple;
        font-weight: 500;
        font-size: rem-calc(19);
        text-decoration: underline;
        padding-right: 1em;
      }
    }
  }
}

.newsletter {
  height: 383px;

  .box-info.blog {
    height: 383px;
    margin: 0;
    padding: 3em 4em!important;

    &.no-bg {
      background: none!important;

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $black;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $black;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $black;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $black;
      }

      .title, .text {
        color: $black;
      }

      input[type='text'], input[type='email'] {
        color: $black;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      input[type='submit'] {
        color: $purple;
      }
    }

    .title {
      max-width: 100%;
      margin: 1em 0;
    }

    .matter-block {
      max-width: 250px;
    }

    input[type='text'], input[type='email'] {
      @extend .t-info-text;
      color: $white;
      font-size: rem-calc(16);
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      box-shadow: none;
      transition: all .2s ease-in-out;
      padding-left: 0;

      &:focus {
        border-color: $purple;
      }
    }

    input[type='submit'] {
      @extend .t-info-text;
      color: $white;
      background: none;
      border: none;
      cursor: pointer;
      font-size: rem-calc(20);
      text-decoration: underline;
    }

    .submit {
      margin: 0;
      float: right;
    }
  }
}

.box-promo{
  @media #{$small-only} {
    margin-top: 2em;
  }
}

.categorias {
  padding: 3em 2.8em;

  &.pg-single {
    padding: 0 3em !important;
  }

  .categories {
    list-style: none;
    @extend .t-info-title;
    text-transform: uppercase;

    ul {
      list-style: none;
      margin: 1em 0;

      .cat-item {
        @extend .t-info-text;

        a {
          color: $black;
          font-size: rem-calc(17);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      li {
        margin-bottom: .6em;
      }
    }
  }
}

#categories-3 {
  list-style: none;

    @media #{$small-only}{
    display: none;
  }


  h1 {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "motiva-sans", sans-serif;

  }
    ul {
      list-style: none;
    }

    li{
        font-family: $luxury-text;
        font-size: rem-calc(20);
        line-height: 1.3;
        font-weight: 400;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: black;
        }
    }
}

.arquivos {
    margin: 3em 4em;

    &.pg-single {
     margin: 3em 4em !important;
  }

  @media #{$small-only}{
    display: none;
  }

  .title {
    list-style: none;
    @extend .t-info-title;
    text-transform: uppercase;
  }
}

#archives-3 {
  list-style: none;

  @media #{$small-only}{
    display: none;
  }

    h3 {
    display: none;
  }
}

select::-ms-expand {
  display: none;
}

.selectdiv {
  position: relative;
  float: left;
  min-width: 200px;
  margin: 1em 0;
}

.selectdiv:after {
  content: '>';
  font: 25px "Consolas", monospace;
  color: $purple;
  transform: rotate(90deg);
  right: 11px;
  top: 6px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  max-width: 201px;
  @extend .t-info-text;
  text-transform: uppercase;
  color: $black;
}

.wp-pagenavi {
  .current {
      background: $purple;
      color: $white;
  }

  span, a {
    display: inline-block;
    @extend .t-info-text;
    font-size: rem-calc(22);
    background: #F5F5F5;
    width: 33px;
    height: 33px;
    text-align: center;
    color: #9D9D9D;
    margin-right: .5em;
    transition: all .1s linear;

    &:hover {
      background: $purple;
      color: $white;
    }
  }
}

.featured-thumb {
  padding-top: 115px;
}

.single {
  .categorias {
      padding: 0 4em;
  }

  p {
    @extend .t-info-text;
    font-size: rem-calc(16);
    line-height: 1.5;
  }

  .blogposts-wrapper {
    h1, h2, h3, h4 {
      @extend .t-info-title;
    }
  }

  .blog-wrapper {
    padding-top: 4em;
  }
}

.comentarios {
  width: 100%;
}

#respond {
  margin-bottom: 4em;
}

/* Post Aberto */
.single {
 /* margin-top: 1em;*/
}
.sidebar {
  @media #{$medium-up} {
    position: relative;
    top: -9em;
  }
}
.sidebar-blog  {
  margin-top: 4em;
}
