/* Página Category */

.section-categoria {
  padding-top: 6em;

}
.post-item {
  margin: 4em 1.5em;

    a {
      text-decoration: none;
      color: $graphite;
    }

    h3 {
      font-family: "motiva-sans", sans-serif;
      font-size: 1.375rem;
      font-weight: 100;
      text-transform: uppercase;

      a {
        color: $graphite!important;

        &:hover {
          text-decoration: underline;
        }
      }

      margin: .5em 0;
    }

    .data {
      @extend .t-info-text;
      text-transform: uppercase;
      color: $graphite;
      font-size: rem-calc(15);
      font-weight: 500;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .text-post {
      a {
        color: $graphite!important;

          @media #{$small-only} {
              font-size: 17px;
          }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .group {
      border-top: 2px solid $purple;
      padding-top: 1em;

      a {
        @extend .t-info-text;
        color: $purple;
        font-weight: 500;
        font-size: rem-calc(19);
        text-decoration: underline;
        padding-right: 1em;
      }
    }
    

}