.contact {
  .grid-container {
    @media #{$small-only} {
      max-width: 100%;
    }
  }
  .contact_wrapper {
    margin: 0 auto;
    padding-top: 115px;
    width: 100%;
    @media #{$small-up} {
      max-width: 430px;
    }
    &__header {
      display: block;
      margin-bottom: 30px;
      .t-title-diamond {
        @media #{$small-up} {
          font-size: 40px;
        }
        @media #{$medium-up} {
          font-size: 4.0625rem;
        }
        margin-bottom: 25px;
      }
      .t-info-text {
        font-size: 18px;
        font-style: italic;
        line-height: 22px;
        @media #{$small-up} {
          font-size: 20px;
        }
      }
    }
    &__form {
      display: block;
      margin-bottom: 60px;
      p {
        display: block;
        width: 100%;
        label {
          font-family: $luxury-text;
        }
      }
    }
  }
  .form-group--textarea {
    position: relative;
    textarea {
      overflow-y: hidden;
      resize: none;
      transition: ease-in-out .3s;
    }
  }
  .group {
    margin-bottom: 45px;
    position: relative;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border: {
      bottom: 1px solid darken($frost-ice, 10%);
      left: 0;
      top: 0;
      right: 0;
    }
    box-shadow: none;
    font-family: $luxury-text;
    font-size: 14px;
  }
  label {
    color: black;
    font-family: $luxury-text;
    font-size: 16px;
    font-weight: normal;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: 0.2s ease all;
  }
  .active {
    label {
      top: -20px !important;
      font-size: 13px !important;
      color: $purple !important;
    }
    .form-control {
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $purple;
      box-shadow: none;
    }
    .wpcf7-not-valid {
      border-bottom: 2px solid red;
    }
  }
  span.wpcf7-not-valid-tip {
    font-family: $luxury-text;
    font-size: 12px;
    margin-top: -13px;
  }
  div.wpcf7-validation-errors,
  div.wpcf7-mail-sent-ok {
    background: #f1c40f;
    border: 0;
    font-family: $luxury-text;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 16px 20px;
  }
  div.wpcf7-mail-sent-ok {
    background: #27ae60;
    color: white;
  }
  .button {
    display: block;
    margin: 0 auto;
    @media #{$medium-up} {
      margin: 0 0;
    }
    &--purple {
      padding: 20px 30px 20px 0;
      background-color: $purple;
      background-image: url('../images/arrow-right-white.svg');
      background-repeat: no-repeat;
      background-position: 80% center;
      background-size: 12px;
      &:hover,
      &:focus {
        background-color: darken($purple, 20%);
        background-position: 80% center;
      }
    }
  }
}

// Variables
$border-color: rgba(0,
0,
0,
.54);
$checked-color: #3f51b5;
// Checkbox
.checkbox {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
  input {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 22px;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  span {
    cursor: pointer;
    display: inline-block;
    font-family: $luxury-text;
    font-size: 14px;
    padding: 0 0 0 5px;
    vertical-align: middle;
    &:before {
      background-color: transparent;
      border: 2px solid $border-color;
      content: '';
      height: 22px;
      left: 0;
      position: absolute;
      top: 4px;
      transition-property: background-color, border-color;
      transition: all .28s cubic-bezier(.4, 0, .2, 1);
      width: 22px;
      z-index: 1;
    }
    &:after {
      border: 5px solid white;
      content: '';
      height: 20px;
      left: 1px;
      position: absolute;
      top: 5px;
      transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      width: 20px;
      z-index: 2;
    }
  }
  input:checked+span {
    &:before {
      background-color: $purple;
    }
  }
}
