// Debutantes
#debutantes {
  .title-big {
    color: $debutantes!important;
    font-family: $marcellus;

    @media #{$small-only}{
    font-size: 3rem;
    padding-left: 2rem;
    margin-top: 8em;
    }

    &.branco {
      color: $white!important;
    }

    &.title-inspire {
      max-width: 684px;
      margin-left: 0;
          @media #{$small-only}{
          margin-top: 4em !important;
          }
    }

    &.title-baile {
      @media #{$small-only}{
          margin-top: 1em !important;
      }
    }
  }

  .hero-int {
    max-height: 764px;
     .conteudo {
       height: 764px;

       .box-info-int {
          // bottom: 0;
       }
     }
  }

  .block-content .box-info-int-white {
    background: $white!important;
    max-width: 669px;
    bottom: inherit!important;
    top: 20em;
    margin-left: 8.5em;

    @media #{$small-only}{
      top: 33em !important;
      max-width: 100%;
      width: 100% !important;
      margin: 0;
    }

    h2 {
      color: $black;
    }

    p {
      color: $graphite!important;
    }
  }

  &.sub-page {
    padding-top: 2em;
  }

  .box-info-int {
    background-color: $debutantes;
    @media #{$small-only} {
      margin-bottom: 3em;
    }

    .dest {
      color: $debutantes;
    }

    .title {
      font-family: $luxury-text;
    }

    .text {
      &.text-line {
        border-color: $debutantes;
      }
    }
  }

  .box-inspire {
    @media #{$small-only} {
      height: 40px;
    }
  }

  .dest {
    color: $debutantes;
    margin-bottom: 0;

    &.spacing-bottom {
      margin-bottom: 1em!important;
    }
  }

  .line {
    background: url('../images/line-debutantes.svg')!important;

    &.line-branco {
      background: url('../images/line-branco.svg')!important;
    }
  }

  .block-dicas-bg {
    &.full-height {
      height: 100%;
      position: relative;
    }

    background: $debutantes;

    .title, .dica, .text {
      color: $white!important;
      p {
        color: $white!important;
      }
    }

    .small-box {
      max-width: 100%;

      .title {
        margin: 0 0 0 0.8em;
      }

      .text {
        max-width: 300px;
        margin: 2em 0 2em 1em;
      }
    }

    &.block-content-right {
      &:after {
        background: $debutantes;
        content: '';
        width: 50%;
        position: absolute;
        right: -50%;
        top: 0;
        height: 100%;
      }
    }
  }

  .wrap-color-full {
    background-color: $debutantes;
  }

  .blogs-accordion {
    .accordion-title {
      color: $debutantes;

      &:before {
        color: $debutantes;
      }
    }
  }
}

.wrap-frost-spacing {
  /*background-color: $frost-ice;*/
  margin-top: 7.2em;
  padding: 4em 0 30em;

  .servicos-debutantes {
    margin-top: 15.2em;
    padding: 4em 0 12em !important;
  }

}


// Auxs
.servicos {
  
  @media #{$small-only} {
    margin-top: 8em !important;
  }
  @media #{$medium-only}{
    margin-top: -5em;
  }
  @media #{large-only}{
    margin-top: -12em;
  }
}

.block-btn-debutantes{
  margin-top: 3em;
}

.box-button {
  margin-top: 8em;
}

.destaque-area-debutantes {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #ec0b76;

  p {
    font-style: italic;
  }
}

#debutantes-torriton {
  margin-top: 15em;
  @media #{$medium-only} {
    margin-top: 11em;
  }
}

.box-text {
  margin-top: 1em;
  max-width: 400px;
  word-wrap: break-word;
  white-space: normal;
  background-color: $white !important;

  @media #{$small-only}{
    padding: 2.7rem;
    max-width: 500px;
  }
  @media #{$medium-only}{
   position: relative;
   left: -8.2em;
   width: 100%;
   max-width: 100%;
   padding: 2.7rem;
  }

  .line {
    background: url('../images/line-debutantes.svg')!important;
  }

  p {
    font-style: italic;
    font-family: $luxury-text;
  }
}
