// Formandas
#formandas {
  .title-big {
    color: $formandas!important;
    font-family: $marcellus;
    /*@media #{$medium-up} {
      left: -70px;
    }*/
    @media #{$small-only} {
      font-size: 3rem;
      padding: .5rem;
    }
    @media #{$medium-only} {
      font-size: 4rem;
    }

    &.title-duvidas {
      max-width: 684px;
      margin-left: 0;
    }
  }

  .hero-int {
    max-height: 764px;
     .conteudo {
       height: 764px;

       .box-info-int {
          bottom: 155px;

          @media #{$small-only} {
            bottom: 150px;
          }
       }
     }
  }

  .btn-formandas-white {
    background-color: $white;
    color: #615465;

    &:hover {
      background-color: #362c39;
    }
  }

  .block-btn {
    @media #{$medium-up}{
      margin-top: 9.5em;
    }
  }

  .destaque-area {
    border: 2px solid $formandas;
    margin-top: 1em;

    p {
      padding: 15px;
      font-size: 22px;
      font-style: italic;
      font-family: $luxury-text;

      @media #{$small-only} {
        font-size: 16px;
      }
    }
  }

  .block-content .box-info-int-white {
    background: $white!important;
    max-width: 669px;
    bottom: inherit!important;
    top: 20em;
    margin-left: 8.5em;
    @media #{$small-only} {
      margin: 0;
      width: 100%;
    }

    h2 {
      color: $black;
      font-style: italic;
    }

    p {
      color: $graphite!important;
    }
  }

  &.sub-page {
    padding-top: 2em;
  }

  .box-info-int {
    background-color: $formandas;

    .dest {
      color: $formandas;
    }

    .title {
      font-family: $luxury-text;
    }

    .text {
      &.text-line {
        border-color: $formandas;
      }
    }
  }

  .dest {
    color: $formandas;
    margin-bottom: 0;

    &.spacing-bottom {
      margin-bottom: 1em!important;
    }
  }

  .line {
    background: url('../images/line-formandas.svg')!important;

    &.line-branco {
      background: url('../images/line-branco.svg')!important;
    }
  }

  .block-dicas-bg {
    &.full-height {
      height: 100%;
      position: relative;
    }

    background: $formandas;

    .title, .dica, .text {
      color: $white!important;
      p {
        color: $white!important;
      }
    }

    .small-box {
      max-width: 100%;

      .title {
        margin: 0 0 0 0.8em;
      }

      .text {
        max-width: 300px;
        margin: 2em 0 2em 1em;
      }
    }

    &.block-content-right {
      &:after {
        background: $formandas;
        content: '';
        width: 50%;
        position: absolute;
        right: -50%;
        top: 0;
        height: 100%;
      }
    }
  }

  .wrap-color-full {
    background-color: $formandas;
  }

  .blogs-accordion {
    .accordion-title {
      color: $formandas;

      &:before {
        color: $formandas;
      }
    }
  }
}

.wrap-frost-spacing {
  background-color: $frost-ice;
  margin-top: 7.2em;
  padding: 4em 0 30em;
  @media #{$small-only} {
    padding: 2em 0 15em !important;
    margin-top: -5em !important;
  }
}

// Auxs
.servicos {
  margin-top: -10em;
  @media #{$small-only} {
    margin-top: 1em !important;
  }
}

.depoimentos-carousel{
  legend {
    text-align: right;
  }
}

