// Page header
.home-hero {
  background-color: $frost-ice;
  padding-bottom: 17em;

  .conteudo {
    @include xy-grid-container(rem-calc(1200), 0);
    @include xy-grid;
    position: relative;
    height: 872px;

    .title-big {
      @include xy-cell(12);
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      @include font-luxury-diamond(rem-calc(70), $purple, 500, 0.9, normal);
      @include breakpoint(small) {
        font-size: rem-calc(92);

      @media #{$small-only} {
         font-size: 30px;
         word-wrap: break-word;
      }

      @media #{$medium-up}{
        word-wrap: break-word;
      }

      }

    }
    .foto-bg {
      @include breakpoint(small) {
        width: 100%;
        max-width: 906px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        position: absolute;
        right: 0;
      }
    }
    .box-info {
      padding: 3.5em;
      bottom: -120px;
      z-index: 1;

      @media #{$small-only} {
      right: 0;
      padding: 45px;
      }

      @media #{$medium-up} {
        right: 80px;
      }

    }
  }
}

.box-info {
  position: absolute;
  z-index: 1;
  background: $black;
  &.block {
    max-width: 950px !important;
    padding: 2em 3em 8em !important;

     @media #{$medium-only}{
      width: 620px;
    }

    &.block-b {
      max-width: 495px !important;
      .title {
        max-width: 170px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
    }
  }
    .text-conheca {
      max-width: 170px;
    em {
      max-width: 170px;
      color: white !important;
      }
    }

  &.block-nail{
    right: 19.5em;
    @media #{$small-only} {
      right: 0;
    }
  }

  &.block-store {
    right: 15.2em;
  }

  &.box-marcas {
    height: 80% !important;
    left: 45.3em;
    width: 400px;

    .title {
      max-width: 100% !important;
    }
  }

  &.blog {
    height: 50%;
    position: absolute;
    z-index: 9;
    padding: 12em 3em 5em;
    .arrow-link {
      top: 35px;
      bottom: inherit;
    }
    @include breakpoint(small) {
      max-width: 354px;
      .title {
        max-width: 90px;
        line-height: 1.1;
      }
    }

     @media #{$small-only} {
      height: 90%;
      padding: 1em !important;
    }
  }

  .line {
    overflow: hidden;
    background: url('../images/line-curved.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 13px;
    margin-bottom: 20px;
  }

  .line-blog {
    overflow: hidden;
    background: url('../images/line-blog.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 13px;
    margin-bottom: 20px;

    @media #{$small-only} {
      width: 120px;
    }
  }
  .title {
    @extend .t-info-title;
    color: $white;
  }
  .text {
    @include font-luxury-text(rem-calc(21),
    $white,
    500,
    1.3,
    normal);
  }
  .text-home {
    font-style: italic;
  }

  .arrow-link {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    height: 80px;
    width: 80px;
    display: inline-block;
    overflow: hidden;
    font-size: 35px;

    @media #{$small-only} {
      right: 0;
      bottom: -170px;
    }

    @media #{$medium-up} {
      right: -45px;
    }

    &:before {
      position: absolute;
      text-align: center;
      line-height: 2.4;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $white;
      color: $purple;
      content: attr(data-icon);
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%);
    }
    span {
      display: block;
      height: 100%;
      background: $purple;
      color: $white;
      transition: transform 0.3s;
      text-align: center;
      line-height: 2.4;
    }
    &:hover {
      &:before {
        transform: translateX(0%);
      }
      span {
        transform: translateX(100%);
      }
    }
  }
}

.servicos-home {
  @media #{$small-only} {
    margin-top: 8em;
    margin-bottom: 6em;
  }

  @media #{$medium-only} {
    margin-top: 5em;
    margin-bottom: 6em;
  }

}

#modulo-blog {
  @media #{$small-only} {
    height: 150vh; 
  }
  
  @media #{$large-only} {
    height: 140vh; 
  }

}

  .blog-pos{
    position: relative ;
    left: 4.2em ;

    @media #{$small-only}{
      left: 0;
    }
}


.newsletter-blog {
  height: 383px;

  .box-info.blog {
    height: 150px;
    margin: 0;
    padding: 0.5em 2em !important;

    @media #{$medium-only}{
      width: 300px;
    }

    &.no-bg {
      background: none!important;

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $black;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $black;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $black;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $black;
      }

      .title, .text {
        color: $black;
      }

      input[type='text'], input[type='email'] {
        color: $black;
        border-bottom: 1px solid rgba(0,0,0,.1);

        @media #{small-only} {
          font-size: 1rem;
        }

        @media #{$medium-only} {
          line-height: 1.1;
          height: 2rem !important;
        }
      }

      input[type='submit'] {
        color: $purple;
      }
    }

    .title {
      max-width: 100%;
      margin: 1em 0;
    }

    .matter-block {
      max-width: 250px;
    }

    input[type='text'], input[type='email'] {
      @extend .t-info-text;
      color: $white;
      font-size: rem-calc(16);
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      box-shadow: none;
      transition: all .2s ease-in-out;
      padding-left: 0;

      &:focus {
        border-color: $purple;
      }
    }

    input[type='submit'] {
      @extend .t-info-text;
      color: $white;
      background: none;
      border: none;
      cursor: pointer;
      font-size: rem-calc(20);
      // text-decoration: underline;
    }

    .submit {
      margin: 0;
      float: right;
      position: relative;

      &::after {
        content: '';
        background: white;
        height: 1px;
        width: 63%;
        position: absolute;
        left: 7px;
        bottom: 3px;
      }

      .arrow-icon {
        transform: translateY(4px);
        .icon-arrow {
          fill: white;
        }
      }
    }
  }
}

.home-item {
  margin-top: -11em;
  position: relative;
  z-index: 1;

  .item-block {
    margin-bottom: 3em;
  }
}

.locais-blocks {
  position: relative;
  z-index: 2;
  margin-top: -11em;
}

.local {
  &-block {
    background: $black;
    padding: 1.5em 1.8em;
    border-left: 13px solid $purple;
    @media #{$medium-up} {
      border-top: 13px solid $purple;
      border-left: 0;
      margin-top: 2em;
    }
    &.big {
      border-color: $bordeur;
      @media #{$medium-up} {
        margin-top: 2em;
      }
    }
    .locais-item {
      align-items: flex-start;
      display: flex;
      margin: 10px 0;
      width: 100%;
    }
    .locais-icon {
      width: 18px;
      display: table-cell;
      vertical-align: middle;
      margin-right: 8px;
      &.icon-marker {
        width: 15px;
      }
    }
    .title {
      font-family: $luxury-text;
      color: $white;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size: 20px;
    }
    a,
    p {
      @include font-luxury-text(rem-calc(16),
      $white,
      500,
      1.3,
      normal);
      display: inline-block;
    }
    small {
      display: table-cell;
      font-size: rem-calc(14);
      padding-left: 10px;
    }
    p {
      padding-left: 10px;
      width: 90%;
      display: inline-block;
      margin: 0; // @include breakpoint(small) {
      //   position: relative;
      //   top: 8px;
      // }
    }
    a {
      font-size: rem-calc(14);
      font-weight: 200;
      font-family: "motiva-sans", sans-serif;
    }
  }
}

//
// /// --------------------------------------------------------------------------
// .front-hero {
//   .marketing {
//     @include xy-grid-container(55rem);
//     @include xy-grid;
//   }
//
//   @include breakpoint(small) {
//     background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
//     background-size: cover;
//     background-position: bottom;
//     padding: rem-calc(65%) 0;
//     margin: 0 0 rem-calc(32);
//     height: auto;
//     position: relative;
//     text-align: left;
//   }
//
//   @include breakpoint(medium) {
//     background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
//     background-size: cover;
//     background-position: center;
//     height: rem-calc(685);
//     margin: 0 0 rem-calc(72);
//   }
//
//   .watch {
//     @include breakpoint(small) {
//       @include xy-cell(7);
//     }
//
//     @include breakpoint(medium) {
//       @include xy-cell(12);
//     }
//
//     a {
//       color: #B4C9D1;
//       cursor: pointer;
//       font-weight: 400;
//       margin-right: rem-calc(20);
//     }
//
//     a:hover {
//       color: #fff;
//     }
//
//     #stargazers {
//       :before {
//         content: "\f09b";
//         font-family: FontAwesome;
//         font-style: normal;
//         font-weight: normal;
//         text-decoration: inherit;
//         color: #B4C9D1;
//         margin-right: rem-calc(8);
//       }
//     }
//
//     #twitter {
//       :before {
//         content: "\f099";
//         font-family: FontAwesome;
//         font-style: normal;
//         font-weight: normal;
//         text-decoration: inherit;
//         color: #B4C9D1;
//         margin-right: rem-calc(8);
//       }
//     }
//
//   }
//
//   .tagline {
//     @include breakpoint(small) {
//       @include xy-cell(8);
//     }
//
//     @include breakpoint(medium) {
//       @include xy-cell(5);
//       padding-top: 6rem;
//     }
//   }
//
//   h1 {
//     color: #fff;
//     font-weight: 500;
//
//     @include breakpoint(small) {
//       font-size: 2.2rem;
//     }
//
//     @include breakpoint(medium) {
//       font-size: 2.875rem;
//     }
//   }
//
//   h4 {
//     color: #fefefe;
//     font-weight: 300;
//     font-size: 1.3125rem;
//   }
//
//   .download {
//     margin-top: rem-calc(20);
//   }
// }
//
// // Intro
// .intro {
//   @include xy-grid-container;
//   @include xy-grid;
//
//   .fp-intro {
//     @include breakpoint(small) {
//       @include xy-cell(12);
//     }
//
//     @include breakpoint(medium) {
//       @include xy-cell(10);
//       @include xy-cell-offset(1);
//
//       h2 {
//         font-weight: 300;
//         margin-bottom: 1.5rem;
//       }
//
//       h4 {
//         font-size: 1.125rem;
//         line-height: 1.6;
//         color: #777;
//         margin-bottom: 2rem;
//       }
//     }
//   }
// }
//
// // Section divider
// .section-divider {
//   @include xy-grid-container;
//   @include xy-grid;
//
//   hr {
//     @include xy-cell(12);
//     @extend .dotted;
//     box-sizing: border-box;
//   }
// }
//
// // Benefits
// .benefits {
//   @include xy-grid-container;
//   @include xy-grid;
//   text-align: center;
//
//   header {
//     @include xy-cell(12);
//
//     h2 {
//       font-weight: 300;
//     }
//
//     h4 {
//       font-size: 1.125rem;
//       line-height: 1.6;
//       color: #777;
//     }
//   }
//
//   .semantic,
//   .responsive,
//   .customizable,
//   .professional {
//     @include breakpoint(small) {
//       @include xy-cell(12);
//     }
//
//     @include breakpoint(medium) {
//       @include xy-cell(3);
//     }
//
//     img {
//       padding: 1.25rem;
//       margin: 1rem auto 0 auto;
//     }
//
//     h3 {
//       color: #0a0a0a;
//       font-weight: 300;
//       font-size: 1.75rem;
//     }
//
//     p {
//       font-size: 0.9375rem;
//     }
//   }
//
//   .why-foundation {
//     @include xy-cell(12);
//     margin-top: 4rem;
//   }
// }
