/* Media Screen
   Correções 
*/

@media only screen and (min-width: 1100px) and (max-width: 1398px){
  .blog-carousel .owl-stage-outer {
    top: -90px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 860px){
  .home-hero .conteudo .title-big {
    word-wrap: break-word;
    font-size: 4rem;
  }
  .blog-carousel .owl-stage-outer{
    top: -100px;
  }
  .blog-carousel .owl-stage {
    left: 0;
  }
  .blog-carousel-item .content {
    padding: 1em 1em 0.5em;
  }
  .blog-carousel .owl-dots {
    right: 0;
  }
  /* Página Blog */
  .blogposts {
    margin-top: 17em;
  }
  .hero-int.matter .box-info-int {
    max-width: 100%;
    width: 100%;
  }
  .box-promo {
    margin-top: 5em;
  }
  #categories-3, .arquivos {
    display: none;
  }
}


@media only screen and (min-width: 500px) and (max-width: 769px){
  /* Mega Hair */
  #megahair .title-big {
    font-size: 3rem;
  }
  #megahair .hero-int .conteudo .box-info-int {
    bottom: 255px;
    width: 100%;
    max-width: 100%;
  }
  /*#megahair*/ .block-content .box-info-int-white{
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    top: 15em;
  }
  .wrap-block-side.megahair {
    margin-top: 4em;
  }
  .bg-megahair {
    /*background-position-y: -6em !important;*/
    display: none;
  }
  .foto-bg {
    display: none;
  }
  .wrap-frost-spacing-hair {
    margin-top: -9em !important;
    padding-bottom: 6em;
  }
  /* Debutantes */
  #debutantes .box-info-int {
    bottom: 0;
  }
  .box-text {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 5em;
  }
  .servicos-debutantes {
    margin-top: -10em;
  }
  #debutantes-torriton{
    padding: 4em 0 18em !important;
  }
  /* Noivas */
  .text-video p {
    font-size: 3.5rem;
    line-height: 1em;
  }
  .title-noivas{
    font-size: 3.5rem !important;
  }
  #noivas-e-noivos .box-info-int {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  #consultoria {
    margin-bottom: 25em;
  }
  .title-big {
  	font-size: 3.5rem;
  }
}

@media only screen  and (min-width: 500px) and (max-width: 580px) {
  .title-promocoes {
    font-size: 3rem;
  }
}