// Responsivo

@media screen and (max-width: 2500px){
  // Marcas
  .marcas-wrap {
    height: 75vh;
    left: 60px;
    position: relative;
  }
  .carrosel-store .owl-dots {
    top: 380px;
   }
}

@media screen and (max-width: 1950px) {
  //Marcas
  .marcas-wrap {
    position: relative;
    left: 25px;
    height: 85vh;
  }
  .galeria .owl-dots {
     left: 5%;
   }
  .g-marcas .owl-dots {
    left: -55% !important;
    bottom: -95px;
}
}

@media screen and (max-width: 1850px ){
  // Nail
  .t-title-diamond.nail {
    margin-left: 1.2rem;
    position: relative;
    top: 140px;
  }
  .block-sobre-nail {
    position: relative;
    top: 140px;
    width: 500px;
    word-wrap: break-word;
    white-space: normal;
  }
}

@media screen and (max-width: 1750px){
  .carrosel-store .owl-stage-outer {
    left: 0;
  }
  .carrosel-store .owl-dots {
    top: 280px;
   }
}


@media screen and (max-width: 1350px){
  .box-info.box-marcas{
    left: 20em;
    top: 6em;
  }
}

@media screen and (max-width: 1200px){
  // Marca
  .g-marcas .owl-stage{
    left: -24.5em;
  }
}

@media screen and (max-width: 1050px){
  //Marcas
  .g-marcas .owl-stage {
    left: -21.5em;
   }
}

@media screen and (max-width: 1030px){
  // Blocos 
  .itens-wrap-int .item-block:nth-child(2n+0) {
    position: relative;
    top: -1em;
  }// Make
  .wrap-block-side .block-content .block-dicas-store {
    height: 70%;
  }
  .carrosel-store .owl-dots{
    top: 220px;
  }
  .wrap-block-side .block-content .block-dicas-store h1 {
    max-width: 450px;
  }// Marcas
  .g-marcas .owl-stage-outer {
    top: -40px;
  }
}
@media screen and (max-width: 768px){
  // Nail
    .t-title-diamond.nail {
    margin-left: 1.2rem;
    position: relative;
    top: 140px;
  }
  .block-sobre-nail {
    position: relative;
    top: 140px;
  }// Galeria Inspire-se
  .carousel-inspire .owl-stage-outer {
    top: -50px !important;
  }//Salões e Quiosques
   .servicos article {
    margin: 40px 0;
  }// Store
  .carrosel-store {
    top: -160px;
  }
  .wrap-block-side .block-content .block-dicas-store {
    height: 70%;
    right: 0;
  }
  .box-info.block-store {
    right: 0;
  }
  .box-info .title {
    max-width: 200px;
  }
  .bloco-store .text-area {
    padding: 40px;
  }
  // Marcas
  #marcas {
    height: 100vh;
  }
  .g-marcas .owl-stage {
    left: -180px;
    width: 100vh !important;
}
  .g-marcas .owl-item {
    width: 100px !important;
    height: 100px !important;
}
  .g-marcas {
    margin-top: 11em;
  }
  .g-marcas .owl-stage-outer {
    top: 30px;
 }
 .g-marcas .owl-dots {
    bottom: -100px;
 }//Nail
  .bloco-store .t-title-diamond {
    position: relative;
    top: 150px;
    padding-left: 40px;
    font-size: 3em;
    max-width: 320px;
  }
  .bloco-store .text-area {
    position: relative;
    top: 210px;
  }
  .local-block {
    margin-bottom: .5em;
  }
}

@media screen and (max-width: 480px){
  // Nail
  .bloco-store .t-title-diamond {
    position: relative;
    top: 160px;
    font-size: 2.8rem;
  }
  .bloco-store .text-area {
  position: relative;
   top: 170px;
}
  .carousel-inspire .owl-stage-outer {
    top: -20px !important;
  }
  .carousel-inspire .owl-dots {
    bottom: 60px;
  }// Mapa Nails
  .map-nails {
    top: 350px;
  }// Galeria
  .item-block-foto {
    height: auto;
  }
  .owl-carousel .owl-stage-outer {
    top:  80px;
    overflow: unset;
  }//Salões e Quiosques
  .servicos article {
    margin: 40px 0;
  }
  .t-title-diamond.medium {
    font-size: 2.4rem;
  }// Marcas
  #marcas {
    height: 80vh;
  }
  .g-marcas .owl-stage {
    width: 100vh !important;
    left: -180px !important;
    height: 120px;
}
  .g-marcas .owl-item {
    width: 100px !important;
    height: 100px !important;
}
  .galeria .marca-item {
    height: 100px;
  }
  .g-marcas {
    margin-top: 11em;
  }
  .g-marcas .owl-stage-outer {
    top: 30px;
 }
 .g-marcas .owl-dots {
    bottom: -100px;
    left: -20% !important;
 }
  //Store
  .wrap-block-side .block-content .block-dicas-store {
    right: 0;
    padding: 2em;
    height: 70%;
  }
  .wrap-block-side .block-content .block-dicas-store h1 {
    max-width: 250px;
  }
  .wrap-block-side .block-content .block-dicas-store p {
    max-width: 250px;
  }
  .carrosel-store {
    top: -150px;
  }
  .box-info.block-store {
    right: 0;
    padding: 1.5em !important;
  }
  .box-info.block p {
    font-size: 14px;
  }
  .carrosel-store .owl-dots {
    top: 300px;
  }
  //Wish 
  .bloco-wish  {
    padding-left: 3.5em;
  }
  #dicas {
    height: 120vh;
  }
}

@media screen and (max-width: 320px) {
  // Marcas
  .bloco-store .t-title-diamond {
    font-size: 2.2rem;
  }
  .bloco-wish .text-area {
    max-width: 220px;
  }
  .bloco-wish .t-title-diamond {
    font-size: 1.8rem;
}
  #marcas {
    margin-top: 5em;
  }// Store
  .box-infosub-int .title {
    font-size: 1rem;
  }
}