// Megahair
#megahair {
  .title-big {
    color: $megahair!important;
    font-family: $marcellus;

      @media #{$small-only} {
        font-size: 2rem;
        padding: 0.5rem;
      }
      @media #{$medium-only} {
        margin-top: 1.5em;
      }

    &.branco {
      color: $white!important;
    }
  }

  .hero-int {
    max-height: 764px;
     .conteudo {
       height: 764px;

       .box-info-int {
          bottom: 105px;
          @media #{$medium-only} {
            bottom: 0;
          }
       }
     }
  }

  .block-content .box-info-int-white {
    background: $white!important;
    max-width: 669px;
    bottom: inherit!important;
    top: 20em;
    margin-left: 85px;

    @media #{$small-only} {
      margin: 0;
      width: 100%;
      max-width: 100%;
      top: 10em;
      }

    h2 {
      color: $black;
    }

    p {
      color: $graphite!important;
    }
  }

  &.sub-page {
    padding-top: 2em;
  }

  .box-info-int {
    background-color: $megahair;

    .dest {
      color: $megahair;
    }

    .title {
      font-family: $luxury-text;
    }

    p:first-child {
      font-style: italic;
    }

    .text-profissionais {
      font-style: normal !important;
    }

    .text {
      &.text-line {
        border-color: $megahair;
      }
    }
  }

  .dest {
    color: $megahair;
    margin-bottom: 0;

    &.spacing-bottom {
      margin-bottom: 1em!important;
    }
  }

  .line {
    background: url('../images/line-megahair.svg')!important;

    &.line-branco {
      background: url('../images/line-branco.svg')!important;
    }
  }

  .block-dicas-bg {
    &.full-height {
      height: 100%;
      position: relative;
    }

    background: $megahair;

    .title, .dica, .text {
      color: $white!important;
      p {
        color: $white!important;
      }
    }

    .small-box {
      max-width: 100%;

      .title {
        margin: 0 0 0 0.8em;
      }

      .text {
        max-width: 300px;
        margin: 2em 0 2em 1em;
      }
    }

    &.block-content-right {
      &:after {
        background: $megahair;
        content: '';
        width: 50%;
        position: absolute;
        right: -50%;
        top: 0;
        height: 100%;
      }
    }
  }

  .wrap-color-full {
    background-color: $megahair;
  }

  .blogs-accordion {
    .accordion-title {
      color: $megahair;

      &:before {
        color: $megahair;
      }
    }
  }
}

#tecnicas {
  .wrap-frost-spacing-hair {
    padding-top: 0 !important;
  }
}
.wrap-frost-spacing-hair {
  background-color: $frost-ice;
  margin-top: 7.2em;
  /*padding-top: 0 ;
  padding-bottom: 15em;*/
  padding: 4em 0 15em;

  @media #{$small-only} {
    padding-bottom: 6em;
  }

  .title-big {
    text-transform: uppercase;
    max-width: 500px !important;
  }

}


// Auxs
.servicos-megahair {
  margin-top: -10em;
  padding-bottom: 10em;
}

.destaque-text {
    font-style: italic !important;
  }


// Gerais
 .foto-bg {
  @media #{$small-only} {
    display: none;
   }
 }

 .item-block {
    @media #{$small-only} {
      margin-bottom: 3em;
    }
 }
