#nails {
  .block-dicas-bg {
    &.full-height {
      height: 100%;
      position: relative;
    }
    background: $purple;
    .title, .dica, .text {
      color: $white!important;
      p {
        color: $white!important;
      }
    }
    .small-box {
      max-width: 100%;

      .title {
        margin: 0 0 0 0.8em;
      }

      .text {
        max-width: 300px;
        margin: 2em 0 2em 1em;
      }
    }

    &.block-content-right {
      &:after {
        background: $purple;
        content: '';
        width: 50%;
        position: absolute;
        right: -50%;
        top: 0;
        height: 100%;
      }
    }
  }

  .line {
    background: url('../images/line-curved-purple.svg')!important;

    &.line-branco {
      background: url('../images/line-curved-white.svg')!important;
    }
  }
}