// Noivas e Noivos
#noivas-e-noivos {
  &.sub-page {
    padding-top: 2em;
    @media #{$small-only}{
      padding-top: 5em;
    }
    @media #{$medium-only}{
      padding-top: 5em;
    }
  }

  .box-info-int {
    background-color: $noivas;
    .dest {
      color: $noivas;
    }
    @media #{$small-only} {
      margin-left: 0 !important;
      padding: 1.5em;
      bottom: 50px;
    }
    .text {
      &.text-line {
        border-color: $noivas;
      }
        em {
          font-size: 22px;
          font-family: $luxury-text;
        }
    }
  }
  .box-info-mb {
    @media only screen and (min-width: 250px) and (max-width: 318px){
      bottom: -490px;
      }
     @media only screen and (min-width: 320px) and (max-width: 360px){
      bottom: -30em;
      }
     @media only screen and (min-width: 361px) and (max-width: 499px){
      bottom: -28em;
      width: 100%;
      max-width: 100%;
      }
    @media #{$medium-only}{
      bottom: -120px;
     }
    }

  .tittle-box-noivas {
      max-width: 150px;
      text-transform: uppercase;
    }

  .dest {
    color: $noivas;
    margin-bottom: 0;
  }

  .line {
    background: url('../images/line-noivas.svg')!important;

    &.line-branco {
      background: url('../images/line-branco.svg')!important;
    }
  }

  .line-box {
    width: 180px;
  }

  .block-dicas-bg {
    background: $noivas;

    .title, .dica, .text {
      color: $white!important;
      p {
        color: $white!important;
      }
    }
    .small-box {
      max-width: 100%;

      .title {
        margin: 0 0 0 0.8em;
      }

      .text {
        max-width: 300px;
        margin: 2em 0 2em 1em;
      }
    }
  }
  .wrap-color-full {
    background-color: $noivas;
  }
}
.galeria-noivas {
  @media #{$small-only}{
    padding-bottom: 10em;
  }
   @media only screen and (min-width: 485px) and (max-width: 498px){
    margin-top: 11em;
  }
  @media only screen and (min-width: 499px) and (max-width: 701px){
    margin-top: 17em;
  }
  .owl-dots {
    bottom: -20px;
  }
  .owl-stage{
    @media only screen and (min-width: 701px) and (max-width: 768px){
    left: 16px !important;
    }
  }
}

.noivas-video {
  &-wrap {
    margin: 1.5em 0;
  }

  &-content {
    height: 100%;

    .grid-x {
      height: 100%;
    }

    .icon-play {
      width: 100px;
    }
  }
}
.text-video {
      p {
      position: relative;
      top: -3.5em;
      left: 3.2%;
      max-width: 650px;
      line-height: 1.2em;
      font-size: 75px;
      font-family: $playfair-bc;
      color: white;

      @media #{$small-only}{
        font-size: 2.1rem;
        top: -3em;
      }
      @media #{$medium-only}{
        line-height: 1em;
      }

    }
}

/* Section */
#consultoria {
  height: 85vh;
  padding-bottom: 1em;
  margin-bottom: 15em;
  @media #{$small-only}{
    margin-bottom: 28em;
  }
  @media #{$medium-only}{
    margin-bottom: 25em;
  }

}
#pacotes-personalizados {
  height: 100vh;
  @media #{small-only}{
    margin-bottom: 25em;
  }
  @media #{medium-only}{
    margin-bottom: 45em;
  }
  @media #{large-only}{
    margin-bottom: 5em;
  }
}
.box-dica-ouro {
  @media #{$small-only}{
    margin-top: 40em;
  }
  @media #{$medium-only}{
    margin-top: 16em;
  }
  @media only screen and (min-width: 378px) and (max-width: 499px){
   margin-top: 30em;
  }
  @media only screen and (min-width: 315px) and (max-width: 377px){
   margin-top: 33em;
  }
}
#video {
  @media #{$small-only} {
    margin-top: 5em;
  }
}
#noivas-e-noivos .box-agenda{
  @media only screen and (min-width: 510px) and (max-width: 575px){
    bottom: -30px;
   }
  @media only screen and (min-width: 576px) and (max-width: 769px){
    bottom: 50px;
   }
   @media #{$medium-only}{
    bottom: -170px;
   }
}
#noivas-e-noivos .title-big{
  @media only screen and (min-width: 500px) and (max-width: 769px){
    max-width: 500px;
    word-wrap: break-word;
    margin-left: .5em;
  }
}
.foto-bg-box{
  height: 100% !important;
  background-size: cover;
  z-index: -1;
}
.box-conteudo{
  background-color: $noivas;
  /*height: 80vh;*/
  padding: 96px 100px;
  color: white;
   p{
    max-width: 400px;
    font-size: 16px;
    font-family: $luxury-text;

    &:first-child{
      font-style: italic;
      font-size: 22px;
    }
   }

   .btn-area{
    max-width: 350px;
    margin-top: 2em;
    .button{
      margin-left: 0;
    }
   }
}
