.promocoes {
  padding-top: 115px;
  padding-bottom: 2em;
}

.promocao {
  margin: 3em 0;
}

.tabs-locais {
  border: 0;

  .tabs-panel {
    padding: 0;
  }
}

.title-promocoes {
  margin-bottom: .3em;

  @media #{$small-only} {
    font-size: 2rem;
  }

  @media #{$medium-only} {
    font-size: 3.2rem;
  }
}

.locais {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin-bottom: 1em;
}

.local-title {
  @extend .t-info-text;
  background: none;
  border-bottom: 3px solid transparent;
  position: relative;
  top: 2px;
  transition: all .2s ease-in-out;

  a {
      background: none!important;
      color: $graphite!important;
      font-size: rem-calc(20);
  }

  &:first-child {
    a { padding-left: 0; }
  }

  &.is-active {
    border-color: $purple;
  }

  &:hover {
    border-color: $purple;
  }
}

.box-promocao {
  padding-top: 0 !important;

  @media #{$medium-up} {
    margin-top: 4.9em !important;
  }
}

.promocao {
  header {
      margin: 1em 0;
  }

  &-title {
    @extend .t-info-title;
    color: $graphite!important;
  }

  &-legend {
    @extend .t-info-text;
    color: $black;
  }

  &-small {
    @extend .t-info-text;
    color: $light-gray;
  }
}

.endereco {
  @extend .t-info-text;
  font-style: normal;
  color: $graphite;
  font-size: rem-calc(22);
}
