.page-template-quem-somos {
	#quem-somos {
		margin-bottom: 80px;
		.wrap-block-side {
			height: auto;
			padding-bottom: 0 !important;
		}
	}
	#conheca {
		position: relative;
		display: block;
		.t-title-diamond {
			margin-bottom: 0;
			position: relative;
			margin: 0;
			transform: translate(42px, 34px);
		}
		.wrap-info-fullhero.e {
			margin-top: 0
		}
		.block-dicas-bgwhite {
			height: 566px;
		}
		.wrap-block-side {
			position: absolute;
			right: 0;
			top: 230px;
			width: 65.5%;
		}
	}
	.conheca-bg {
		height: 620px;
		max-width: 68%;
		background-position: -123px 0;
	}
	.quem-somos-text {
		width: 100%;
		margin-top: 37px;
		background: #f3f3f3;
		height: 598px;
		.grid-padding-x {
			background: #f3f3f3;
		}
	}
	.galeria {
		margin-top: 0;
		background: transparent;
		height: 500px;
		.galeria-item {
			.thumbnail__wrapper {
				height: 340px;
				overflow: hidden;
				display: block;
			}
		}
		.owl-dots {
			margin: 5em 0;
		}
		.title {
			font-family: "Luxury Text";
			font-size: 19px;
			text-align: left;
			display: block;
			padding: 10px 0 0 30px;
			color: black;
		}
	}
	#visao-missao {
		min-height: 640px;
		.foto-bg {
			left: 0;
			max-width: 72.5%;
		}
		.grid-margin-x {
			margin-top: 19em;
		}
		.block-dicas-bgwhite {
			.box-info-dica {
				padding-right: 4em;
				padding-left: 2em;
			}
		}
		.wrap-block-side {
			.medium-5.small-12 {
				width: 52%;
				right: 0;
				position: absolute;
				left: auto;
			}
		}
	}
}