.page-template-responsabilidade-social {
	#responsabilidade {
		margin-bottom: 100px;
	}
	#doacao, #reconhecimento {
		.wrap-block-side .block-content .block-dicas-bgwhite {
			padding: 3em 2.5em 3em 4em;		
		}
		.title-02 {
			margin-top: 1em;
		}
		.parallax-c {
			height: 611px;
		}
	}
	.parallax-window  {
		margin-bottom: 125px;
	}
	#reconhecimento {
		min-height: 870px;
	}
	#modulo-blog {
		.blog-pos {
			margin-top: -14em;
		}
		.grid-container {
			margin-left: 55px;
		}
	}
	.footer {
		margin-top: 0;
	}
}