#saloesequiosques {
  .servicos {
    margin-top: 5em!important;
    padding-top: 5em!important;
    padding-bottom: 15em!important;
  }
}

.tour-btn {
  @extend .t-info-title;
  max-width: rem-calc(570);
  text-align: center;
  color: $white!important;
  background: $black;
  padding: 2em 0;
  transition: all .15s ease-in-out;

  &:hover {
    opacity: .85;
  }
}
.hero-tour {
  margin-top: 17em;
  margin-bottom: 5em;
}

.block-area-taunay{
  @media #{$medium-up}{
    position: relative;
  top: -10px;
  }
}

.galeria-quiosque {
  @media #{$small-only}{
    margin-bottom: 9em;
  }
}

/* Mapas */
#mapa-sete {
  .locais-blocks {
    .local-block {
      margin-left: auto;
      margin-right: auto;

      &:first-child {
      display:none;
      }

      &:nth-child(2){
      display: none;
      }

      &:last-child{
      display: none;
     }
   
    }
  }
}

#mapa-batel {
  .locais-blocks {
    .local-block {
      margin-left: auto;
      margin-right: auto;
      display: none;

      &:first-child {
      display:block !important;
      }
   
    }
  }
}

#mapa-taunay {
  .locais-blocks {
    .local-block {
      margin-left: auto;
      margin-right: auto;

      &:first-child {
      display:none;
      }

      &:nth-child(3){
      display: none;
      }

      &:last-child{
      display: none;
     }
   
    }
  }
}

#mapa-quiosque {
  .locais-blocks {
    .local-block {
      margin-left: auto;
      margin-right: auto;
      display: none;

      &:last-child {
      display:block !important;
      }
   
    }
  }
}