/* Tabelas */

#tabela-servicos{
	padding: 8em 0;
	.footer {
		display: none !important;
	}
}

.table-facilidades {
	tr:nth-child(n+2){
		td {
			&:nth-child(n+2) {
				text-align: center;
			}
		}
	}
}

.title-thumb {
	color: red !important;
	font-size: 40px; 
}

 .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index:999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.myModal {
    width: 30em;
    background: #EDFAC5;
    border: thin solid #ddd;
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -15em;
    padding: 2em;
    font-size: 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}
    .myModal .fa-spin {
        margin:0 1em 0 0.2em;
    }

#closeModal {
    text-align:right;
    float:right;
    width:4em;
    margin:-2em -2em 0 0;
    font-size:0.8em;
}
#body{
    border:thin solid #333;
    height:300px;
}