/* Página de Erro */

#error-page {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
		.titulo-erro {
		margin-top: .5em;
		font-family: $luxury-diamond;
		color: $purple;
		font-size: 9em;
		text-transform: uppercase;
		}
}

.error-page_footer {
	margin-top: 0 !important;
}