/* Torriton Store */

#torriton-store {
  padding-top: 7em;
  height: 100%;
}

#marcas-store {
  margin-top: 40px;
}

/* Mapa */
#mapa-store {
  .locais-blocks {
    .local-block {
      margin-left: auto;
      margin-right: auto;

      &:last-child{
      display: none;
     }
   
    }
  }
}