.page-template-torriton-gallery {
  .locais-blocks {
    .grid-margin-x {
      justify-content: center;
    }
    .local-block {
      &:nth-child(1),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
