.page-template-torriton-men {
  .torriton-men-wrapper.wrap-block-side {
    height: 750px;
  }
  .galeria {
    background: white;
  }
  .locais-blocks {
    .grid-margin-x {
      justify-content: center;
    }
    .local-block {
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
