.page-template-torriton-estetica {
  .wrap-block-side {
    padding: 1em 0 3em !important;
    .left {
      right: auto;
      left: 0;
    }
    .block-content {
      .block-dicas-bgwhite {
        position: absolute;
        width: 500px;
        min-height: 380px;
      }
    }
  }
  .wrap-info-fullhero {
    &.c {
      margin-top: -23em;
    }
    &.e {
      margin-top: -28em;
      margin-bottom: 224px;
    }
  }
  .box-info.blog {
    height: 390px;
    .small-4 {
      height: auto;
    }
  }
  .box-info.block-store {
    width: 854px !important;
  }
  .locais-blocks {
    .grid-margin-x {
      justify-content: center;
      .local-block {
        &:nth-child(3),
        &:nth-child(4) {
          display: none !important;
        }
      }
    }
  }
  .parallax-c {
    height: 612px;
  }
  #centro-estetico {
    .wrap-block-side {
      .block-content {
        .box-info-int.full-width {
          width: 100%;
          .t-info-text {
            max-width: 530px
          }
        }
        .block-dicas-bgwhite {
          background: white;
          padding-top: 50px;
          width: 830px;

          .t-info-text {
            margin-bottom: 30px;
          }
        } 
      }   
    }
    .t-title-diamond {
      margin-bottom: 30px;
    }
  }
  #servicos {
    display: block;
    height: 1030px;
    position: relative;
    margin-top: 18em;

    .block-content {
      .block-dicas-bgwhite {
        background: #f3f3f3;
        padding-left: 66px;
        width: 100%;
      }
    }

    .estetico-servicos-bg {
      background-position: -115px center;
    }

    .wrap-block-side .block-content .block-dicas-bgwhite {
      min-height: 500px;
    }

  }
  .estetico-torriton {
    &-blog-carrossel {
      margin-top: -16em;
    }
    &-container {
      display: block;
      overflow: hidden;
      min-height: 680px;
    }
    &-title {
      @media #{$small-only} {
        font-size: 30px;
        margin-left: 26px;
        margin-bottom: 0;
        margin-top: 0;
      }
      +.grid-padding-x {
        .item-block-link {
          .arrow-icon {
            margin-left: 10px;
            top: 3px;
          }
          path, rect {
            fill: $purple;
          }
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &-centro {
      .grid-padding-x {
        padding: 37px 0 60px 66px;
      }
    }
  }
  .estetico-servicos {
    .box-infosub-int {
      margin-top: 90px;
    }
    .t-info-title {
      color: #333333;
      display: block;
      font-style: italic;
      margin-bottom: 46px;
      position: relative;
      z-index: 1;
    }
    &-bg {
      height: 623px;
      max-width: 68%;
    }
    &-title {
      margin-bottom: 0;
      transform: translate(78px, 110px);
      position: relative;
      z-index: 1;
    }
  }
  @media(min-width: 992px) and (max-width: 1199px) {
    .estetico-servicos {
      .grid-padding-x {
        &:before {
          right: -300px;
        }
      }
    }
    .estetico-torriton-centro {
      .t-title-diamond {
        margin-left: 60px;
        font-size: 40px;
      }
    }
  }
  @media(min-width: 1200px) {
    .estetico-servicos {
      .grid-padding-x {
        &:before {
          right: -320px;
        }
      }
    }
  }
  .arrow-right-icon {
    rect {
      fill: white;
    }
  }
  .blog-int {
    padding-top: 0;
    padding-bottom: 0;
    .blog-carousel .owl-dots {
      top: -5em;
      bottom: 0
    }
    .blog-pos {
      margin-top: -170px;
      left: 6.2em;
    }
  }
}
