.blogs-accordion {
  .accordion-title {
    @include font-luxury-text(rem-calc(19), $white, 400, 1.1, normal);
    text-decoration: underline;
    display: block;
    margin-bottom: 1em;
    color: $graphite;
    background: none;
    border: none;
    padding-left: 0;

    &:before {
      font-size: 30px;
      font-weight: bold;
      top: 20px;
      left: 5rem;
    }
  }

  .accordion-content {
    border: 0;
    p {
      @include font-luxury-text(rem-calc(16), $black, 500, 1.3, normal);
    }
  }
}

.accordion-duvidas {
  border: none;
  background: transparent;

  .accordion-title {
    padding: 2.5rem 3rem 2.5rem 1rem;
    transition: all .15s ease-in-out;
    border: none;
    @include font-luxury-text(rem-calc(21), $graphite, 400, 1.3, normal);
    text-decoration: none;

    &:before {
      top: 40%;
      font-size: 30px;
      line-height: 1;
    }
  }

  .accordion-content {
    padding: 1rem 2em 2em 1rem;
    border: none;
    .text {
      p {
        color: $graphite!important;
      }
    }
  }

  .accordion-item {
    background: $white;
    margin-bottom: 1em;
  }
  :last-child:not(.is-active) > .accordion-title {
  border: none;
  }
}

.accordion-servicos {
  border: none;
  background: transparent;

  .accordion-title {
    padding: 2rem 3rem 2rem 1rem;
    transition: all .15s ease-in-out;
    border: none;
    @include font-luxury-text(rem-calc(21), $graphite, 400, 1.3, normal);
    text-decoration: none;

    &:before {
      top: 40%;
      font-size: 30px;
      line-height: 1;
    }
  }

  .accordion-content {
    padding: 1rem 2em 2em 1rem;
    border: none;
    .text {
      p {
        color: $graphite!important;
        font-size: 16px;
      }
    }
  }

  .accordion-item {
    background: $white;
    margin-bottom: 1em;
  }
  :last-child:not(.is-active) > .accordion-title {
  border: none;
 }
}
