.item-block {
  @include breakpoint(mobile) {
    max-width: 400px;

    &:nth-child(2n+0)  {
      margin-top: 5em;
      position: relative;
    }
  }
  &-foto {
    width: 100%;
    height: 481px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  &-title {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-transform: uppercase;
    color: $white;
    padding: 0.3em 0.8em;

    @media #{$small-only} {
     font-size: 1.2rem;
    }

    &.purple {
      background-color: $purple;
    }
    &.noivas {
      background-color: $noivas;
    }
    &.debutantes {
      background-color: $debutantes;
    }
    &.formandas {
      background-color: $formandas;
    }
    &.megahair {
      background-color: $megahair;
    }
  }
  &-text {
    @extend .t-info-text;
  }
  &-link {
    @extend .t-info-text;
    font-size: rem-calc(20);
    color: $purple !important;
    line-height: 1;
    margin-top: 2em;
    display: inline-block;
    .arrow-icon {
      display: inline-block;
      width: 9px;
      position: relative;
      top: 2px;
      margin-left: 5px;
      color: $purple!important;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.itens-wrap-int {
  .item-block {
    @include breakpoint(mobile) {
      max-width: 365px;
      margin-bottom: 4em;
      &:nth-child(2n+0) {
        position: relative;
        top: 13em;
      }
    }
  }
  .item-block-link {
    margin-top: 1em;
  }
}

.arrow-right-icon {
  path,
  rect {
    fill: $purple;
  }
}
