// Carrosel Blog
.blog-carousel {
  background: $frost-ice;
  margin-top: 19em;
  max-height: 275px;
  a img {
    height: 160px;

    @media #{$small-only} {
      height: 120px;
    }
  }
  &-item {
    width: 353px;
    .content {
      background: $white;
      padding: 1.5em 2em 2.5em;

      @media #{$small-only} {
        padding: 1.5em 1em 1.5em;
      }
      @media #{$medium-up} {
        padding: 1.5em 1em 1em;
      }
    }
    .thumbnail {
      width: 100%;
      height: 158px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .date {
      @include font-luxury-text(rem-calc(15), $snow-ice, 500, 1.3, normal);
      margin-bottom: .4em;
      display: block;
      text-transform: uppercase;
    }
    .resume {
      @include font-luxury-text(rem-calc(22), $graphite, 500, 1.1, normal);

       @media #{$small-only} {
        font-size: 1rem;
      }
    }
  }
  .owl-stage {
    left: -135px;
    border: 1px solid transparent;

    @media #{$small-only} {
      left: 0px;
    }

    @media #{$small-up}{
      width: 1500vh !important;
    }
  }
  .owl-stage-outer {
    top: -130px;
    left: 90px;
    z-index: 10;

    @media #{$small-only} {
      top: 130px !important;
      left: 75px;
    }

    @media #{$medium-only} {
      top: -120px !important;
    }

    @media #{$large-only} {
      top: -100px !important;
    }
  }

 .owl-item {
    @media #{$medium-only} {
      width: 180px !important;
    }

    @media #{$large-only} {
      width: 215px !important;
    }
  }

  .owl-dots {
    // position: fixed;
    position: relative;
    left: 0;
    width: 100%;
    bottom: 10px; // top: 33em;
    right: 310px;
    padding-right: 440px;

    @media #{$small-only} {
      top: 440px;
      right: 0;
    }
    @media #{$medium-only} {
      right: 0;
    }
    @media #{$large-only} {
    bottom: -30px;
    }

  }
  @media(min-width: 0) and (max-width: 767px) {}
  @media(min-width: 768px) and (max-width: 991px) {}
  @media(min-width: 992px) and (max-width: 1199px) {}
  @media(min-width: 1200px) {}
}
