#map {
  height: 400px;
  @media #{$medium-up} {
    height: 800px;
  }
}

.footer {
  background-color: $black;
  padding-top: 1.3em;
  margin-top: 2.5em;
  &-menu {
    width: 100%;
    display: block;
    padding: 16px 0 7px 0;
    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      li {
        &:first-of-type {
          a {
            padding-left: 0;
            &:before {
              margin-left: 0;
            }
          }
        }
        &:last-of-type {
          a {
            padding-right: 0;
            &:before {
              margin-right: 0;
            }
          }
        }
      }
      a {
        @include font-pf-bc(rem-calc(12), $white, 400, normal);
        @include transition-default;
        text-transform: uppercase;
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
          transition: transform .4s ease;
        }
        &:before {
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
          width: 80%;
          height: 1px;
          background: $white;
          transform: scaleX(0);
        }
        &:hover:before {
          transform: scaleX(1);
        }
      }
    }
  }
}

.social {
  &-item {
    display: inline-block;
    margin: 0 3px;
    a {
      display: block;
      width: 22px;
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: .5;
      }
    }
  }
}

.footer-container {
  padding-bottom: 1em;
  @include xy-grid-container;
  margin-top: rem-calc(60);
}

.footer-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media #{$medium-up} {
    justify-content: space-between;
  }
  &__wrap-logo-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @media #{$medium-up} {
      flex-direction: row;
    }
  }
  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }
  .footer-logo a {
    display: block;
    width: 180px;
    .logo {
      fill: $white;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
