.form-torriton {
  max-width: 430px;

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $black;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $black;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: $black;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: $black;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    @extend .t-info-text;
    color: $black;
    font-size: rem-calc(16);
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    padding-left: 0;

    &:focus {
      border-color: $purple;
    }
  }

  input[type='submit'] {
    @extend .t-info-text;
    color: $purple;
    background: none;
    border: none;
    cursor: pointer;
    font-size: rem-calc(20);
    text-decoration: underline;
  }

  .item-block-link {
    margin: 0!important;
    margin-bottom: 1em!important;
  }
}

.form-header {
  max-width: 868px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.form-title {
  position: relative;
  top: rem-calc(10);
  font-size: rem-calc(22);
  display: table;
  padding-bottom: .45em;
  border-bottom: 3px solid $purple-dark;
}
