// Galerias Carrosel
// Carrosel Blog
.galeria {
  background: white;
  margin-top: 6em;
  padding-bottom: 1em;
  &-item {
    .thumbnail {
      display: block;
      width: 100%;
      height: 372px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media #{$small-only}{
        height: unset;
      }
      @media #{$medium-only}{
        height: unset;
      }
      @media only screen and (min-width: 500px) and (max-width: 800px){
        height: auto;
     }
    @media only screen and (min-width: 1200px) and (max-width: 1500px){
      height: 330px;
     }
    @media only screen and (min-width: 1501px) and (max-width: 2200px){
      height: auto;
     }
    }
  @media #{$small-only}{
    width: 200px !important;
  }
  @media #{$medium-up}{
    width: 240px !important;
  }
  @media only screen and (min-width: 500px) and (max-width: 769px){
      width: 230px !important;
    }
  }
  .item-noiva{
    @media #{$small-only}{
      margin-top: 3em;
     }
  }
  .marca-item {
    background-color: white;
    padding-top: 15px;
    padding-left: 20px;
    height: 140px;
    img {
      width: 85% !important;
    }
  }
  .owl-stage {
    left: 110px;
    @media #{$small-only}{
      width: 1000vh;
      left: 28px;
    }
    @media #{$medium-up}{
      width: 1500vh;
    }
    @media only screen and (min-width: 500px) and (max-width: 700px){
     left: -10px;
    }
    @media only screen and (min-width: 745px) and (max-width: 890px){
      left: 190px !important;
    }
    
  }
  .owl-stage-outer {
    top: -30px;
    z-index: 10;
  }
  .owl-dots {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3em 0;

    @media #{$small-only}{
      bottom: -140px;
    }
    @media only screen and (min-width: 500px) and (max-width: 700px){
     bottom: -140px;
    }
  }
  &.transparent {
    background: transparent;
    margin-top: 0;
    @media #{$small-only} {
      margin-top: -5em;
    }
  }
}
.g-marcas {
  margin-top: 13em;
  background: transparent;
  .owl-item {
    width: 150px !important;
  }
  .owl-stage {
    left: -28em;
    width: 1500vh !important;
  }
}

.marca-carrosel {
  background-color: transparent !important;
  top: -80px;
  margin-top: 0 !important;
  .owl-stage {
    top: 90px;
    left: -21em;
    height: 250px;
    width: 1500vh !important;
  }
  .owl-item {
    width: 200px !important;
  }
  .owl-stage-outer {
    left: 7em !important;
  }
  .owl-dots {
    left: -27%;
    bottom: -30px;
  }
}

.carrosel-store {
  .owl-stage-outer {
    left: 7em !important;
  }
  .owl-dots {
    top: 320px;
    left: 5%;
  }
}

.galeria-wrap {
  .box-info {
    max-width: 370px;
    padding: 5.5em 3.5em 2em;
    &.size-m {
      padding: 4em 3.5em 3.5em;
      .title {
        max-width: 200px;
      }
    }
    &.large {
      max-width: 570px;
    }
    &.noivas {
      padding: 3em !important;
    }
  }
}
.galeria-quiosque {
  margin-top: 32em;
}