// Hero Internas
.hero-int {
  // background-color: $frost-ice;
  max-height: 695px;
  padding-top: 115px;
  position: relative;

  &.matter {
    max-height: 587px;

    .foto-bg {
      max-width: 100%;
    }

    .box-info-int {
      background: $white;
      max-width: 569px;

      @media #{$small-only} {
        width: 100%;
        max-width: 100%;
        bottom: -120px !important;
      }
    }
    
  }

  .foto-bg {
    @include breakpoint(small) {
      // background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
      background: url('../images/fotos/hero-home.jpg');
      width: 100%;
      max-width: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      position: absolute;
      left: 0;
    }
  }

  .conteudo {
    @include xy-grid-container(rem-calc(1200), 0);
    @include xy-grid;
    position: relative;
    height: 695px;

    @media #{$small-only} {
      height: 50vh;
    }

    .title-big {
      margin: 1em 0;
      @include xy-cell(12);
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      max-width: 405px;
      text-align: left;

      @media #{$small-only}{
        font-size: 3rem;
      }

      @include font-pf-bc(rem-calc(70), $noivas, 500, 1.1, normal);
      @include breakpoint(small) {
          font-size: rem-calc(70);
      }

      span {
        display: block;
        font-size: rem-calc(100);

        @include breakpoint(small) {
            font-size: rem-calc(145);
        }
      }
    }

    .box-info-int {
      bottom: -80px;
      z-index: 1;
    }
  }
}

.box-info-int {
  position: absolute;
  z-index: 1;
  padding: 3em 3em 3em;

  @include breakpoint(small) {
    max-width: 467px;
  }

  &.blog {
    position: absolute;
    z-index: 9;
    padding: 12em 3em 5em;

    .arrow-link {
      top: 35px;
      bottom: inherit;
    }

    @include breakpoint(small) {
      max-width: 354px;

      .title {
        max-width: 90px;
        line-height: 1.1;
      }
    }
  }

  .line {
    overflow: hidden;
    background: url('../images/line-curved.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 14.5px;
    margin-bottom: 20px;
  }

  .title {
    @extend .t-info-title;
    color: $white;
  }

  .dest {
    @include font-luxury-text(rem-calc(19), $white, 400, 1.1, normal);
    text-decoration: underline;
    display: block;
    margin-bottom: 1em;
  }

  .text {
    p {
      @include font-luxury-text(rem-calc(17), $white, 400, 1.3, normal);
    }

    &.text-line {
      padding-bottom: 1.5em;
      width: 85%;
      border-bottom: 3px solid;
      margin-bottom: 1em;
    }
  }

  .arrow-link {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -45px;
    height: 80px;
    width: 80px;
    display: inline-block;
    overflow: hidden;
    font-size: 35px;

    &:before {
      position: absolute;
      text-align: center;
      line-height: 2.4;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $white;
      color: $purple;
      content: attr(data-icon);
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%);
    }

    span {
      display: block;
      height: 100%;
      background: $purple;
      color: $white;
      transition: transform 0.3s;
      text-align: center;
      line-height: 2.4;
    }

    &:hover {
      &:before {
        transform: translateX(0%);
      }

      span {
        transform: translateX(100%);
      }
    }
  }
}

.frost-wrapper {
  display: block;
  background: $frost-ice;
  height: 130px;
  width: 100%;

  &.consultoria{
    height: 190px !important;
  }
}

.white-wrapper {
  display: block;
  background: $white;
  height: 130px;
  width: 100%;
}
