// Marcas Carrosel
.marcas-carousel {
  margin-top: 18em;
  max-height: 275px;

  &-item {
    width: 172px;
    height: 172px;
    background: $white;

    img {
      height: 120px;
      max-width: 120px;
      display: block;
      margin: 0 auto;
      position: relative;
      top: 25px;
    }

    .content {
      background: $white;
      padding: 1.5em 2em 2.5em;
    }

    .thumbnail {
      width: 100%;
      height: 158px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .owl-stage {
    left: -135px;
  }

  .owl-stage-outer {
    top: -158px;
    z-index: 10;
  }

  .owl-dots {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 46px;
  }
}
