// Modal Tabelas
// Modal das Galerias
// Modal História da Noiva

.reveal-overlay {
   background-color: white;
}

.reveal {
 	margin-top: 50px ;
	width: auto;
	background-color: white;
}

//Galerias

	.modal {
    display: none; /* hidden */
    position: fixed;
    z-index: 102; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal img {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	@media #{$small-only}{
		right: 15%;
		width: 60% !important;
		margin-top: 40px;
	}
	@media only screen and (min-width: 500px) and (max-width: 700px){
     	width: 60% !important;
		margin-top: 40px;
		right: 15%;
    }
}

.fechar {
	position: absolute;
	top: 60px;
	right: 50px;
	color: white;
	font-size: 50px;

	&:hover {
	 cursor: pointer;
	 color: #e4e4e4;
	}
}

/* Noivas*/
.box-modal {
  position: relative !important;
  left: -30px;
  max-width: 320px !important;

  .line {
  	margin-top: 100px;
  	 background: url('../images/line-noivas.svg')!important;
  }
}

.foto-modal{
  height: 504px;
  width: 1100px;
}

.title-modal {
	margin-top: 1em;
	font-family: $luxury-text;
	font-size: 22px;
	font-style: italic;
}

.conteudo-modal{
	font-family: $luxury-text;
	font-size: 16px;
}

.galeria-modal {
	.owl-stage-outer {
		width: 150vh !important;
		@media only screen and (min-width: 1400px) and (max-width: 2000px){
			top: -13.2em;
			left: -21em;
			
		}
	}
	.owl-dots {
		display: none !important;
	}
}



.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

