// Header
.site-header {
  position: absolute;
  width: 100%;
  z-index: 15;
  margin-top: 1em;
  &.int {
    background: $white;
    position: fixed;
    height: 80px;
    margin: 0 !important;
    z-index: 105;
  }
}

.ha-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 50;
  transform: translateY(-100%);
  transition: all 0.5s;
}

// Menu Fixo
.ha-header-hide {
  position: fixed;
  transform: translateY(-100%);
}

.ha-header-show {
  background: $white;
  box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.62);
  position: fixed;
  transform: translateY(0%);
}

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  // @include show-for(medium);
}

.menu-hamburguer {
  display: block;
  float: right;
  width: 14px;
  margin-right: 2em;
  margin-left: 1em;
  cursor: pointer;
  .menu-icon {
    width: 20px;
  }
}

// Mobile menu
.mobile-menu {
  display: none; //
}

.off-canvas {
  >ul.menu {
    height: 100vh;
    padding: 1rem;
    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }
  .menu .active>a {
    background-color: #ccc;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active>a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu
.top-bar {
  background: none !important;
  padding: 2.25em 0 0.6em;
  &.int {
    padding-bottom: 0 !important;
    .menu .is-active>a {
      &:before {
        transform: scaleX(1);
      }
    }
  }
  &.fixed,
  &.int {
    padding: 1em 0;
    .menu a {
      color: $graphite;
      &:before {
        background-color: $graphite;
      }
    }
    .search-button {
      .icon-search {
        fill: $graphite;
        stroke: $graphite;
      }
    }
    .menu-icon-3 {
      fill: $graphite;
    }
  }
  ul {
    background: none !important;
  }
  .top-bar-logo a {
    display: block;
    width: 180px;
  }
  .menu a {
    @include font-luxury-text(rem-calc(16), $white, 400, normal);
    @include transition-default;
    text-transform: uppercase;
    position: relative;
    padding-top: 0;
    padding-bottom: 5px;
    &:after,
    &:before {
      content: '';
      position: absolute;
      transition: transform 0.4s ease;
    }
    &:before {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
    } // &:hover:not(.button) {
    //   background-color: #42525D;
    // }
  }
}

.fixed,
.int {
  .search-button {
    .icon-search {
      fill: $graphite;
      stroke: $graphite;
    }
  }
}

.search-button {
  display: block;
  float: right;
  cursor: pointer; // margin-right: 1em;
  position: absolute;
  right: 32px;
  top: 50px;
  svg {
    display: block;
    width: 14px;
  }
}

.site-navigation {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

@media(min-width: 0) and (max-width: 767px) {
  .site-navigation {
    width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .site-navigation {
    width: 750px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .site-navigation {
    width: 970px;
    .dropdown.menu a {
      padding: 0.7rem 0.7rem;
    }
  }
  .top-bar .menu a {
    font-size: 15px;
  }
}

@media(min-width: 1200px) {
  .site-navigation {
    width: 1170px;
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

@media only screen and (min-width: 200px) and (max-width: 889px){
  .top-bar .top-bar-left  {
    display: none;
  }
  .top-bar-right, .search-button {
    display: none;
  }
}