// Offcanvas
.off-canvas {
  background: $white!important;
  box-shadow: none!important;

  .icon-pinterest, .icon-youtube, .icon-facebook, .icon-linkedin, .icon-instagram {
    fill: $graphite!important;
  }

  .social {
    margin: 5em auto 0;
    display: table;
  }
}

.menu-offcanvas {
  margin: 2em 0;
  list-style: none;

  .menu-item {
    text-align: center;
    margin: .5em 0;
  }

  .menu-item a {
    @include font-luxury-text(rem-calc(16), $graphite, 400, normal);
    @include transition-default;
    text-transform: uppercase;
    position: relative;
    padding-top: 0;
    padding-bottom: 5px;

    &:before, &:after {
      content: '';
      position: absolute;
      transition: transform .4s ease;
    }

    &:before {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $graphite;
      transform:  scaleX(0);
    }

    &:hover:before {
      transform:  scaleX(1);
    }

    // &:hover:not(.button) {
    //   background-color: #42525D;
    // }
  }
}
