// Modal
.reveal {
  border: none;
  background: none;
}

.reveal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

// Barra de Pesquisa
.search-header {
  position: relative;

  &-input {
    background: transparent!important;
    border: 1px solid $purple!important;
    color: #5F4A8B;
    @include font-luxury-text(rem-calc(28), 500, 1.3, normal);
    padding: 18px 12px;
    transition: all .2 ease-out;
    padding-right: 55px!important;

    &:focus {
      box-shadow: none;
    }
  }

  .icon-submit {
    position: absolute;
    width: 23px;
    top: 22px;
    right: 19px;
    display: inline-block;
  }
}
