#sidebar-nav {
  position: absolute;
  z-index: 101;
  bottom: auto;
  padding: 60px 40px;
  background: white;
  @media #{$small-only}{
    padding-left: 0;
    padding-top: 5px;
  }
  @media #{$medium-up}{
    width: 310px;
    left: -60px;
  }
  .sidebar-nav-itens {
    list-style: none;
    margin: 0;
    .item {
      @include font-luxury-text(rem-calc(17), $black, 500, 1, normal);
      text-transform: uppercase;
      display: block;
      margin: 1em 0;
      .cd-dot {
        margin-right: 10px;
        display: inline-block;
        content: '■';
        width: 11px;
        height: 11px;
      }
      &.is-selected {
        .cd-dot {
          background-color: $graphite;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.container {
  display: block; // height: 100vh;
  left: 50%;
  position: fixed;
  z-index: 101;
  top: 130px;
  @media #{$small-only}{
    top: 80px;
    position: relative;
  }
}

@media(min-width: 0) and (max-width: 767px) {
  .container {
    left: 0;
    width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .container {
    margin-left: -375px;
    width: 750px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-left: -485px;
    width: 970px;
  }
}

@media(min-width: 1200px) {
  .container {
    margin-left: -585px;
    width: 1170px;
  }
}
