// Tabelas

thead, tbody, tfoot{
	border: none;
}

.th-title {
    font-family: "Luxury Text";
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    background: white;
    color: #333333 !important;
}

.td-text {
    font-family: "Luxury Text";
    font-size: 16px;
    color: #333333 !important;
}