// Wrap Blocks Side
.wrap-block-side {
  position: relative;
  height: 617px;
  padding: 1em 0 5em !important;
  background: $white;
  &.spacing {
    padding-bottom: 20em !important;
  }
  &.top-spacing {
    @include breakpoint(medium) {
      margin-top: 25em;
    }
  }
  &.transparent {
    background: transparent;
    @media #{$medium-up} {
      padding: 0 !important;
    }
  }
  &.megahair {
    padding: 0!important;
  }
  &.full-height {
    height: 100%;
  }
  &.full-height-padding {
    height: 100%;
    padding: 1em 0 1.5em !important;
  }
  &.top-margin{
  margin-top: 2em;
  }
  .block-content {
    .box-info-links {
      margin-top: 3em;
    }
    .title-big {
      margin: 1em 0;
      @include xy-cell(12);
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      max-width: 405px;
      text-align: left;
      @include font-pf-bc(rem-calc(70), $noivas, 500, 1.1, normal);
      @include breakpoint(small) {
        font-size: rem-calc(70);
      }
      span {
        display: block;
        font-size: rem-calc(100);
        @include breakpoint(small) {
          font-size: rem-calc(145);
        }
      }
      &.spacing-bottom {
        margin-bottom: 0.6em;
      }
      &.spacing-bottom-reset {
        margin-bottom: 0;
      }
      &.branco {
        color: $white !important;
      }
      &.title-noivas {
        left: -2.5%;
        @media #{$small-only} {
          font-size: 2.5rem;
          padding-left: 0.5em;
          margin: 0;
        }
        @media #{$medium-only}{
          font-size: 2.5rem;
          padding-left: 0.5em;
          margin: 0;
        }
      }
      &.title-pacote-noivas{
        max-width: 684px;
        margin-left: 0;
        @media #{$small-only} {
          font-size: 2.5rem;
          padding-left: 0.5em;
          margin: 0;
          word-wrap: break-word;
        }
        @media #{$medium-only}{
          font-size: 2.5rem;
          padding-left: 0.5em;
          margin: 0;
        }
      }
      &.title-dicas{
        margin-top: 0!important;
        margin-left: 0 !important;
        font-size: 3.5rem;
          @media #{$small-only} {
          font-size: 2.5rem;
          word-wrap: break-word;
        }
        @media #{$medium-only}{
          font-size: 3.5rem !important;
          word-wrap: break-word;
        }

      }
    }
    .dica-content {
      margin-top: 3em;
    }
    &.spacing-top {
      margin-top: 20em;
    }
  }
  .foto-bg {
    @include breakpoint(small) {
      width: 100%; // max-width: 46%;
      // max-height: 675px;
      display: none;
      @media #{$medium-up} {
        display: block;
      }
      max-height: 570px;
      max-width: 54.5%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      position: absolute;
      right: 0;
    }
    &.bg-box-agenda {
      max-width: 51%;
    }
    &.top-align {
      @include breakpoint(medium) {
        max-height: 650px !important;
        margin-top: 10em;
      }
    }
    &.bg-left {
      right: none;
      max-width: 70%;
      max-height: 764px;
      left: 0;
    }
    &.full-height {
      max-height: 100% !important;
    }
    &.bg-nail {
      max-height: 575px;
    }
    &.bg-sala-noiva{
      background-position-y: .1em;
    }
  }
  .block-content {
    .box-info-int {
      .title {
        @extend .t-info-title; // text-transform: capitalize;
        font-size: rem-calc(20);
      }
      margin-left: 85px;
      background-color: $black;
      bottom: -100px;
      padding: 3em 4em 3em;
      max-width: 567px;
      &.full-width {
        max-width: 100%;
      }
      .medium-box {
        max-width: 500px;
      }
    }
    .box-agenda {
      background-color: white !important;
      bottom: -140px;
      .text {
        p {
         color: $graphite !important;
        }
      }
      
    }
    .box-info-dica {
      position: relative;
      bottom: 0;
      background: transparent !important;
      margin: 0;
      padding: 0;
      .title {
        color: $graphite;
        font-size: rem-calc(19); // text-transform: capitalize;
        margin-bottom: 1em;
      }
      .text {
        &.dica {
          p {
            @extend .t-dicas;
            color: $graphite;
          }
        }
      }
    }
    .block-dicas-nobg {
      padding: 3em 2em ;
      @media #{$medium-only}{
        padding: 3em 2em ;
      }
      @media #{$large-only}{
        padding: 3em 0.5em;
      }
    }
    .block-dicas-bgwhite {
      background: $white;
      padding: 3.5em 2em;
      &.top-spacing {
        margin-top: 5em;
      }
    }
    .block-dicas-bg {
      padding: 3.5em 3.5em;
      @media #{$small-only}{
        padding: 2em 2em;
      }
    }
    .block-dicas-inspire {
      padding: 3.5em 3.5em;
      margin-left: 4.2em;
      background-color: #5f4a8b;
      height: 90%;
      width: 150vh;
    }
    .block-sobre-nail {
      margin-top: 1em;
    }
    .block-margin {
      margin-top: 19em;
    }
    .margin-columns {
      margin-top: 1em;
    }
  }
}

.no-padding {
  padding-bottom: 0 !important;
}

.nails-wrap {
  padding-bottom: 5em;
  margin-top: 0 !important;
}

.infosub-wrap {
  margin: 14em auto 2em;
}

.box-infosub-int {
  &.blocks-itens {
    margin: 1em 0;
    article {
      max-width: 360px;
      .mini-icon {
        margin-bottom: 1em;
        display: block;
      }
    }
  }
  .line {
    overflow: hidden;
    background: url('../images/line-curved.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 14px;
    margin-bottom: 20px;
  }
  .line-branco {
    overflow: hidden;
    background: url('../images/line-branco.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 14px;
    margin-bottom: 20px;
  }
  .title {
    @extend .t-info-title;
    font-size: rem-calc(22);
    font-style: italic;
    font-family: $luxury-text !important;
  }
  .text {
    p {
      @include font-luxury-text(rem-calc(17),
      $graphite,
      400,
      1.3,
      normal);
    }
  }
  .confira {
    p {
      color: $white;
    }
  }
  .small-box {
    max-width: 301px;
    @media #{$medium-up}{
     max-width: 650px;
    }
  }
  .dest {
    @include font-luxury-text(rem-calc(19),
    $white,
    400,
    1.1,
    normal);
    text-decoration: underline;
    display: block;
    margin-bottom: 1em;
  }
}

.dest {
  @include font-luxury-text(rem-calc(19),
  $white,
  400,
  1.1,
  normal);
  text-decoration: underline;
  display: block;
  margin-bottom: 1em;
  &.spacing {
    margin: 1em 0;
  }
}

.wrap-color-full {
  width: 100%;
}

.wrap-info-fullhero {
  margin-top: -20em;
  background: transparent;
  &.b {
    top: -10em;
    margin-top: 0;
  }
  &.c {
    margin-top: -30em;
  }
  &.d {
    margin-top: -11em;
  }
  &.e {
    margin-top: -20em;
  }
}

.frost-wrap {
  background-color: $frost-ice;
}

// Auxiliares
.depoimentos {
  margin-top: -50em !important;
  &-item {
    .dica {
      p {
        @extend .t-dicas;
        color: $graphite;
      }
    }
  }
}

.strong-title {
  strong {
    font-weight: 600;
    font-size: rem-calc(20);
    color: #565656;
  }
}

.mini-icon {
  svg {
    height: 48px;
  }
}

.padding-b-reset {
  padding-bottom: 0 !important;
}

.padding-reset {
  padding: 0 !important;
}

.wrap-padding-reset {
  padding-top: 0 !important;
}

.wrap-header-spacing {
  margin-top: 5em !important;
}

// Blog carrosel internas
.blog-int {
  background: $frost-ice;
  padding-top: 5em;
  padding-bottom: 8em;
  .blog-carousel {
    margin-top: 25em;

    @media #{$small-only}{
      margin-top: 10em;
    }

    &.no-spacing {
      margin-top: 13em;
    }
  }
}

.box-info-duvidas {
  background: transparent !important;
  ;
  padding: 0 !important;
}

// Helpers
.container-spacing {
  padding-top: 116px;
}

.gray-int-matter {
  background: $frost-ice;
  padding-top: 0 !important;
  padding-bottom: 2em;
  margin-top: 6em !important;
  &:before {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    background: $white;
  }
}

//ALE confirmar

// Blog Store, Nails
#dicas {
  margin-top: 40px;
}

.bloco-store {
  .t-title-diamond {
    margin-bottom: .5em;
  }
  .purple-line {
    overflow: hidden;
    background: url('../images/line-curved.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 13px;
    margin-bottom: 20px;
  }
  .text-area {
    position: relative;
    background-color: $white;
    padding: 45px 0;
    .t-info-text {
      max-width: 550px;
    }
  }
}

#carrossel-make {
  position: relative;
  top: -110px;
}

.bloco-acessorios {
  .t-title-diamond {
    margin-bottom: .5em;
  }
  .text-area {
    position: relative;
    margin-top: 16.8em;
    background-color: #f3f3f3;
    padding: 3.5em 3.5em;
    .t-info-text {
      max-width: 550px;
      font-size: 16px;
    }
    .t-social {
      margin-bottom: 0;
      color: #5F4A8B;
      font-size: 20px;
      text-decoration: underline;
      font-family: $luxury-text;
    }
  }
}

.bloco-wish {
  .t-title-diamond {
    margin-bottom: .5em;
  }
  .text-area {
    position: relative;
    background-color: $white;
    .t-info-text {
      max-width: 350px;
      font-size: 16px;
    }
    .t-social {
      margin-bottom: 0;
      color: #5F4A8B;
      font-size: 20px;
      text-decoration: underline;
      font-family: $luxury-text;
    }
  }
}

.bloco-marcas {
  padding: 3.5em 3.5em;
  background: black;
  width: 400px;
  height: 370px;
  position: absolute;
  .t-info-text {
    font-family: "motiva-sans", sans-serif;
    font-size: 1.375rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $white;
    max-width: 200px;
  }
  .purple-line {
    overflow: hidden;
    background: url('../images/line-curved.svg');
    background-repeat: no-repeat;
    display: block;
    width: 197px;
    height: 13px;
    margin-bottom: 20px;
  }
}

.block-info-nail {
  margin-left: 2.9em;
}

.nails-wrap {
  margin-left: 25em;
}

.servicos-nails {
  margin-left: 3.9em;
}
